.gradle/
gradle.properties

.settings/
.metadata/
.classpath
.project
.gitattributes

build/
**/build/
bin/
**/bin/

*.class
*.log

*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*.xls
/javadoc.xml
.DS_Store
